@model Irisi_M_301072868.Models.Club

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Club</title>
</head>
<body>
    @Html.Partial("InputClub")
</body>
</html>
