@model Irisi_M_301072868.Models.Club

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <h1 class="text-uppercase text-white font-weight-bold text-center">Please fill the below information to enter new Clubs</h1>
    <form asp-action="AddClub" asp-controller="Club" method="post">
        <div>
            <label asp-for="ClubName">Club Name:</label>
            <input asp-for="ClubName" />
        </div>
        <div>
            <label asp-for="AgeRange">Age Range:</label>
            <select asp-for="AgeRange">
                <option value="">Choose an age range</option>
                <option value="4-5 years">4-5 years</option>
                <option value="6-7 years">6-7 years</option>
                <option value="8-9 years">8-9 years</option>
                <option value="10-11 years">10-11 years</option>
                <option value="12-13 years">12-13 years</option>
                <option value="14-15 years">14-15 years</option>
                <option value="16-17 years">16-17 years</option>
            </select>
        </div>
        <div>
            <label asp-for="CreatedDate">Created Date:</label>
            <input asp-for="CreatedDate" class="form-control" />          
        </div>       
        <div>
            <a href="~/" style="text-decoration:none">
                <button type="button" class="btn btn-danger">CANCEL</button>
            </a>
            <button type="submit" class="btn btn-success">SAVE</button>
        </div>
    </form>
</body>
</html>