<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1 class="text-uppercase text-white font-weight-bold text-center">Welcome to Iris Soccer Association</h1>
    <h3></h3>
    <h3>Encourage your kids to play sports as it offers them a range of social, physical and cognitive benefits.</h3>
</body>
</html>


